<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CVIX draft</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
	var data0 = google.visualization.arrayToDataTable([
	  ['Calculated at', "cvix"],
	  {% for d in chart_values_btc %}
	  [{{d[0]}}, {{d[1]}}],
	  {% endfor %}
	]);

	var data1 = google.visualization.arrayToDataTable([
	  ['Calculated at', "cvix"],
	  {% for d in chart_values_eth %}
	  [{{d[0]}}, {{d[1]}}],
	  {% endfor %}
	]);

	var data2 = google.visualization.arrayToDataTable([
	  ['Calculated at', "cvix"],
	  {% for d in chart_values %}
	  [{{d[0]}}, {{d[1]}}],
	  {% endfor %}
	]);

	var options = {
	  chartArea: {
	  	left:10,
		top:10,
		width:'100%',
		height:'85%',
		},
		vAxis:{
	        baseline: 0, 
    	    viewWindowMode: "explicit", 
			viewWindow:{
                min:40.0,
				},
			textPosition: 'in',
			},
	  explorer: {actions: ['dragToPan', 'dragToZoom', 'rightClickToReset']},
	  legend: { position: 'bottom' }
	};

	var chart0 = new google.visualization.LineChart(document.getElementById('alg_chart_btc'));
	chart0.draw(data0, options);

	var chart1 = new google.visualization.LineChart(document.getElementById('alg_chart_eth'));
	chart1.draw(data1, options);

	var chart2 = new google.visualization.LineChart(document.getElementById('alg_chart'));
	chart2.draw(data2, options);
  }
</script>
</head>
<body>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}

<h1>draft CVIX (BTC) = {{cvix_btc}}</h1>
<h2>The CVIX is calculated each 10 minutes and the average value is written hourly (UTC) </h2>

{% if chart_values_btc %}
<div id="alg_chart_btc" style="width: 900px; height: 500px"></div>
{% else %}
<h2>no data for the chart</h2>
{% endif %}

<h1>draft CVIX (ETH) = {{cvix_eth}}</h1>
<h2>The CVIX is calculated each 10 minutes and the average value is written hourly( UTC)</h2>

{% if chart_values_eth %}
<div id="alg_chart_eth" style="width: 900px; height: 500px"></div>
{% else %}
<h2>no data for the chart</h2>
{% endif %}

<h1>draft CVIX BTC + ETH weighted by the market cap = {{cvix}}</h1>
<h2>The CVIX is calculated each 10 minutes and the average value is written hourly (UTC)</h2>

{% if chart_values %}
<div id="alg_chart" style="width: 900px; height: 500px"></div>
{% else %}
<h2>no data for the chart</h2>
{% endif %}

</body>
</html>
